---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %} The way I see it, there is 
            solace in the most random things around us. 
            All you need is an eccentric perpective. Life gives very few moments where you can actually skip the misery, 
            my camera helps me do that.  {% endif %}</p>
          <p class="author_subtitle">Oh and yes I am a photographer. I'm glad you found your way to my blog post, the place where the lens of my mind and the lens of my camera concoct magic. </p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>