
<section class="newsletter" id="mc_embed_signup">
  <h2 class="newsletter_title">Newsletter</h2>
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/c126ec16af64c0744672b9de7/400518fb510d2cd79f2c0e156.js");</script>
  <form action="//{{ site.mailchimp }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <label for="mce-EMAIL">Subscribe here to get our latest updates</label>
    <div class="newsletter_box" id="mc_embed_signup_scroll">
      <input type="email" name="EMAIL" placeholder="Email address" class="email_input" id="mce-EMAIL" required>
      <input type="submit" value="Subscribe" name="subscribe" class="subscribe_btn" id="mc-embedded-subscribe">
    </div>
  </form>
</section> <!-- End Section Newsletter -->