
<section class="newsletter" id="mc_embed_signup">
  <h2 class="newsletter_title">Picture digest</h2>
  <form action="https://randomshutterx.us1.list-manage.com/subscribe/post?u=c126ec16af64c0744672b9de7&amp;id=9f3533e1ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <label for="mce-EMAIL">Be the first one to get our latest picure.</label>
    <div class="newsletter_box" id="mc_embed_signup_scroll">
      <input type="email" name="EMAIL" placeholder="Email address" class="email_input" id="mce-EMAIL" required>
      <input type="submit" value="Subscribe" name="subscribe" class="subscribe_btn" id="mc-embedded-subscribe">
    </div>
  </form>
</section> <!-- End Section Newsletter -->